<footer class="site-footer" style="background-color: #17181B; margin-top: 310px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About EXYNO</h6>
                <p class="text-justify">Exyno is a very helpful and amazing bot!<br> Doing e!help is great for
                    finding ways it can
                    assist you.<br> Exyno was written with Discord.js </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Navigation</h6>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/commands">Commands</a></li>
                    <li><a href="https://discord.gg/bknyd5q">Support-Server</a></li>
                    <li><a href="/changelog">Changelog</a></li>
                    <li><a href="https://discordapp.com/oauth2/authorize?client_id=689939340293701710&scope=bot&permissions=1983381367">Invite Exyno</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>QUICK LINKS</h6>
                <ul class="footer-links">
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms & Conditions</a></li>
                    <li><a href="mailto:karlof04gamer@gmail.com">Contact</a></li>
                    <li><a href="https://www.paypal.com/donate/?hosted_button_id=6WGJTT6X8EBZY">Donate</a></li>
                    <li><a href="https://github.com/DevExyno">Github</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <center>
                    <p class="copyright-text">Copyright &copy; 2019 -
                        <script>document.write(new Date().getFullYear());</script> Exyno
                </center>
                </p>
            </div>
        </div>
    </div>
</footer>
<!--JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>
</html>