<%- include('partials/head'); -%>
    <title> 404 | Page not found</title>
    <body>
        <%- include('partials/header'); -%>
            <center style="margin-top: 15%;">
                <h1>404 - Page not found</h1>
                <p>Maybe this page moved? Got deleted? Is hiding out in quarantine?
                    Never existed in the first place?
                </p>
                <a href="/"><button class="button button5">Return Home</button></a>
            </center>
    </body>
<%- include('partials/footer'); -%>