<%- include('partials/head'); -%>
    <title>Exyno | Changelog</title>

    <body>
        <%- include('partials/header'); -%>
            <main style="margin-top: 10%;">
                <center>
                    <h1>Changelog</h1><br><br>
                </center>
                <section class="home-blog-area section-padding30">
                    <div class="container">
                        <h3 style="text-align: center;">Version <a style="color: greenyellow;"> 5.0.0</a> - 3rd April,
                            2021 <a style="color: brown;">[LATEST
                                UPDATED]</a></h3><br>
                        <p class="lead" style="margin-left: 250px;">
                            <a style="color: rgb(187, 187, 35);">Added :</a> cancel command, when typing <a
                                style="color: coral;">e!play [song name]</a> and didn't find what you are looking for,
                            <br>then
                            type <a style="color: coral;">cancel</a> and the search will be canceled.<br>
                            <a style="color: rgb(187, 187, 35);">Added :</a> baka, cuddle, hug, kiss, pat etc.. [Anime
                            section]<br>
                            <a style="color: rgb(187, 187, 35);">Added :</a> partners embed message (to apply for
                            partners
                            just mail us <a style="color: blueviolet;"
                                href="mailto:karlof04gamer@gmail.com">here</a>)<br>
                            <a style="color: rgb(187, 187, 35);">Added :</a> some cute images (like cat, dog images) [in
                            Images section] <br>
                            <a style="color: red;">Removed :</a> daily fortniteshop, searching for fortnite player <br>
                            <a style="color: red;">Removed :</a> all languages, because we are recently updating alot,
                            this
                            feature will be added after we finish our project.<br>
                            <a style="color: lightpink;">Fixed :</a> resume's not playing message<br>
                            <a style="color: lightpink;">Fixed :</a> pause's not playing message<br>
                            <a style="color: lightpink;">Fixed :</a> stats with the right numbers of the users and
                            guilds.
                            <br>
                            <a style="color: lightpink;">Fixed :</a> Unlimited Music, there are no rate limits
                            anymore.<br>
                            <a style="color: lightpink;">Fixed :</a> loop command, it won't flood the channel after a
                            song
                            ends (it gets deleted after 10seconds).<br>
                            <a style="color: lightpink;">Fixed :</a> setafk command, it can show up gifs (if you have
                            setup
                            a generated gif link) if someone tags you.<br>
                            <a style="color: lightblue;">Updated :</a> addcommand & addemoji Error messages with embeds
                            now.
                            <br>
                            <a style="color: lightblue;">Updated :</a> help command can be only sent in DMS (update your
                            privacy) <br>
                        </p><br>
                    </div>
                </section>
            </main>
            <%- include('partials/footer'); -%>