<%- include('partials/head'); -%>
    <title> Exyno | Homepage </title>
    <body>
        <!--HEADER-->
        <%- include('partials/header'); -%>
            <div id="container">
                <div id="main">
                    <!--MAIN BODY-->
                    <div class="d-flex justify-content-center head">
                        <h1><b>Exyno | Discord Bot!</b></h1>
                    </div>
                    <center>
                        <div>
                            <p>Exyno is a multi-purpose Discord bot that ranges in features such as server
                                moderation,<br>
                                to an economy system using a MongoDB database, and much more.
                            </p>
                        </div>
                    </center>
                    <div class="d-flex justify-content-center subtext">
                        <p>
                            <center>
                                <a
                                    href="https://discordapp.com/oauth2/authorize?client_id=689939340293701710&scope=bot&permissions=1983381367">
                                    <button class="button button2">Invite Exyno</button></a>
                                <a href="https://discord.gg/bknyd5q"><button
                                        class="button button5">Support-Server</button></a>
                            </center>
                        </p>
                    </div>
                </div>

                <div class="container custom-1">
                    <img class="custom-image"
                        src="https://cdn.discordapp.com/attachments/805246814747099168/830212947447250984/unknown.png">
                    <h3 class="align-self-start"><b>Welcome Message and Auto Role</b></h3>
                    <p>
                        Exyno offers a command called e!welcome,
                        which gives you the ability to generate a text with or without a picture to give new members a
                        warm
                        welcome!
                    </p>
                </div>

                <div class="container pt-10 custom-2">
                    <img src="https://cdn.discordapp.com/attachments/805889238931341342/830212236743016458/unknown.png">
                    <h3><b>Easily Create Custom Tags</b></h3>
                    <p>
                        Exyno also offers customs tags, which are very useful if you want to make funny texts or add
                        gifs
                        onto them.
                    </p>
                </div>

                <div class="container custom-1 pt-16">
                    <img class="custom-image"
                        src="https://cdn.discordapp.com/attachments/805246814747099168/830214293810970644/unknown.png">
                    <h3 class="align-self-start"><b>Easy To Moderate</b></h3>
                    <p>
                        Moderating with Exyno is simple and clear. If you don't want members sending invite links,
                        Exyno will delete them for you! Exyno has many other Moderation commands,
                        for example: kick, ban, checkinvites, clear and many more!
                        check out <a href="/commands" style="color: aquamarine;">commands</a> for more!
                    </p>
                </div>

                <div class="container pt-10 custom-2">
                    <img src="https://cdn.discordapp.com/attachments/746387227021672578/830215722215014410/unknown.png">
                    <h3><b>And Many Music Commands!</b></h3>
                    <p>
                        Music offers you many options, for example: 24/7 live radio,
                        searching youtube songs without limitations, play spotify songs/playlists and many more!
                    </p>
                </div>

            </div>
            </div>
            <%- include('partials/footer'); -%>