<%- include('partials/head'); -%>
    <title>Exyno | Privacy Policy</title>

    <body>
        <%- include('partials/header'); -%>
            <main style="margin-top: 10%;">
                <center>
                    <h1>Privacy Policy</h1>
                    <h3 class="h-50">(Last updated and effective: April 02, 2021)</h3><br><br>
                </center>
                <section class="home-blog-area section-padding30">
                    <div class="container">
                        <p class="lead">
                            At Exyno Website, one of our main priorities is the privacy of our visitors.
                            This Privacy Policy document contains types of information that is collected and recorded by
                            Exyno and
                            how we use it. <br>
                            <br>
                            If you have additional questions or require more information about our Privacy Policy, do
                            not hesitate
                            to contact us through email <a href="mailto:karlof04gamer@gmail.com"
                                style="color:lightcoral">
                                here</a><br>
                            <br>
                            This privacy policy applies only to our online activities and is valid for visitors to our
                            website <br>
                            with regards to the information that they shared and/or collect in Exyno. <br>
                            This policy is not applicable to any information collected offline or via channels other
                            than this
                            website. <br>
                        </p>
                        <h3>Consent</h3>
                        <p class="lead">
                            By using our website, you hereby consent to our Privacy Policy and agree to its terms.
                        </p>
                        <h3>Information we collect</h3>
                        <p class="lead">
                            The personal information that you are asked to provide,
                            and the reasons why you are asked to provide it, will be made clear to you at the point we
                            ask you to
                            provide your personal information. <br>
                            <br>
                            If you contact us directly, we may receive additional information about you such as your
                            name,
                            email address, the contents of the message and/or attachments you may send us, and any other
                            information
                            you may choose to provide.
                            <br>
                        </p>
                        <h3>How we use your information</h3>
                        <p class="lead">
                            - We use the information we collect in various ways, including to:
                            <br>
                            - Understand and analyze how you use our website <br>
                            - Develop new products, services, features, and functionality <br>
                            - Communicate with you, either directly or through one of our partners, including for
                            customer service,
                            to provide you with updates and other information relating to the webste, and for marketing
                            and
                            promotional purposes <br>
                            - Send you emails <br>
                            - Find and prevent fraud <br>
                        </p>
                        <h3>Third-Party Privacy Policies</h3>
                        <p class="lead">
                            Exyno's Privacy Policy does not apply to other advertisers or websites.
                            Thus, we are advising you to consult the respective Privacy Policies of these third-party ad
                            servers for
                            more detailed information.
                            It may include their practices and instructions about how to opt-out of certain options.
                            <br>
                            You can choose to disable cookies through your individual browser options.
                            To know more detailed information about cookie management with specific web browsers, it can
                            be found at
                            the browsers' respective websites <br>
                        </p>
                        <h3>GDPR Privacy Policy (Data Protection Rights)</h3>
                        <p class="lead">
                            We would like to make sure you are fully aware of all of your data protection rights. Every
                            user is
                            entitled to the following: <br>
                            <br>
                            The right to access – You have the right to request copies of your personal data. <br>
                            <br>
                            The right to rectification – You have the right to request that we correct any information
                            you believe
                            is inaccurate.
                            You also have the right to request that we complete the information you believe is
                            incomplete. <br>
                            <br>
                            The right to erasure – You have the right to request that we erase your personal data, under
                            certain
                            conditions <br>
                            <br>
                            The right to restrict processing – You have the right to request that we restrict the
                            processing of your
                            personal data, under certain conditions. <br>
                            <br>
                            The right to object to processing – You have the right to object to our processing of your
                            personal
                            data, under certain conditions.<br>
                            <br>
                            The right to data portability – You have the right to request that we transfer the data that
                            we have
                            collected to another organization,
                            or directly to you, under certain conditions. <br>
                            <br>
                            If you make a request, we have one month to respond to you. If you would like to exercise
                            any of these
                            rights, please contact us. <br>
                        </p>
                    </div>
                </section>
            </main>
            <%- include('partials/footer'); -%>